cryptography>=1.7.1
dwho>=0.3.49
httpdis>=0.6.14
jmespath>=0.9.3
packaging>=19.0
pycurl
pyjq==2.3.1
pyOpenSSL>=16.2.0
pyyaml>=3.10
prometheus-client>=0.6.0
six>=1.13.0
sonicprobe>=0.3.33
requests>=2.21.0
