Source: covenant
Section: net
Priority: optional
Maintainer: DevOps Team Fjord Technologies
Uploaders: DevOps Team Fjord Technologies
Build-Depends: debhelper (>= 7), dh-python, lsb-release, python (>= 2.7~) | python2 (>= 2.7~) | python3 (>= 3.9~), python-setuptools (<< 44.1~) | python3-setuptools (>= 44.1~), python-yaml | python3-yaml, sed
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.5
XS-Python-Version: >= 2.7
XS-Python3-Version: >= 3.5
Homepage: https://www.commandersact.com

Package: covenant
Architecture: all
Homepage: https://www.commandersact.com
Depends: ${misc:Depends}, python-pycurl (<< 7.43.0.6) | python3-pycurl (>= 7.43.0.6), python (>= 2.7~) | python2 (>= 2.7~) | python3 (>= 3.9~)
Pre-Depends: adduser, autoconf, automake, build-essential, coreutils, coreutils (>= 8.23-4) | realpath, libffi-dev, libssl-dev, libtool, lsb-release, python-dev (>= 2.7~) | python2-dev (>= 2.7~) | python3-dev (>= 3.9~), python-pip (<< 20.3~) | python3-pip (>= 20.3~), python-setuptools (<< 44.1~) | python3-setuptools (>= 44.1~)
Description: Fjord Technologies covenant package
