general:
  listen_addr:        127.0.0.1
  listen_port:        9118
  charset:            utf-8
  content_type:       'text/plain; version=0.0.4; charset=utf-8'
  max_workers:        5
  max_requests:       1000
  max_life_time:      3600
  lock_timeout:       10
  modules_path:       /usr/local/lib/covenant/modules
  filters_path:       /usr/local/lib/covenant/filters
  plugins_path:       /usr/local/lib/covenant/plugins
endpoints:
  apache1:
    plugin: http
    vars:
      timeout: 2
      url: 'http://localhost:8080/server-status/?auto'
    import_metrics: metrics.d/apache.yml
  nginx1:
    plugin: http
    vars:
      timeout: 2
      url: 'http://localhost:8081'
    import_metrics: metrics.d/nginx.yml
  rabbitmq1:
    credentials: credentials.yml.example?__section=rabbitmq
    plugin: http
    vars:
      timeout: 10
      url: http://localhost:15672/api
    import_metrics: metrics.d/rabbitmq.yml
  redis1:
    plugin: redis
    vars:
      timeout: 10
      url: redis://localhost:6379
    import_metrics: metrics.d/redis.yml
  secure-layer1:
    plugin: ssl
    vars:
      timeout: 10
    import_probes: metrics.d/secure-layer.yml
modules:
  metrics:
    routes:
      metrics:
        handler:   'metrics'
        regexp:    '^metrics/(?P<endpoint>[^\/]+)$'
        op:        'GET'
        safe_init: true
      server:
        handler:   'server'
        op:        'GET'
  probes:
    routes:
      probes:
        handler:   'probes'
        regexp:    '^probes?/(?P<endpoint>[^\/]+)$'
        op:        'GET'
        safe_init: true
